
body {
	font-family: "Proxima Nova", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
	line-height: 130%;
	color: #545454;
	max-width: 724px;
}

h1 {
  	font-family: "Proxima Nova", "Arial", sans-serif;
	font-size: 32px;
	margin-bottom: 16px;
	color: #545454;
}

H2 {
	font-family: "Proxima Nova", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 24px;
	color: #989898;
}


ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

li {
  	margin-right: 8px;
	padding: 0px;
  	display: inline-block;

}


a:link {
	color: #545454;

}

a:visited {
	color: #000000;

}

a:hover {
	color: #FFA61E;

}

a:active {
	color: #000000;

}

.all-content {
	margin: 80px;
	
}

.logo-head {
	margin-bottom: 100px;
}

.dark-switch {
	margin-top: 56px;
	margin-bottom: 56px;
	
}

.sun-hover {
	position: relative;
	top: -29px;
	visibility: hidden;

}

.sun-hover:hover {
	visibility: visible;

}

.social:hover {
	opacity: .75;
}

.foot-note {
	Margin-top: 32px;
	font-size: 12px;
	text-transform: uppercase;
	color: #545454;

}
