
body {
	font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	text-align: left;
	color: #545454;
	width: 40%;
}

h1 {
  	font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif;
	font-size: 32;
	text-align: left;
	color: #545454;
}

H2 {
	font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	text-align: left;
	color: #989898;
	
}
