
body {
	font-family: "Proxima Nova", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
	line-height: 130%;
	color: #545454;
	max-width: 724px;
}

h1 {
  	font-family: "Proxima Nova", "Arial", sans-serif;
	font-size: 32px;
	margin-bottom: 16px;
	color: #545454;
}

H2 {
	font-family: "Proxima Nova", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	color: #989898;
}


ul {
	list-style-type: none;
	
}

li {
  	margin: 4px;
	padding: 2px;
  	display: inline-block;

}

.all-content {
	margin: 80px;
	
}

.logo-head {
	margin-bottom: 100px;
}

.dark-switch {
	margin-top: 56px;
	margin-bottom: 56px;
	
}

.foot-note {
	Margin-top: 56px;
	font-size: 12px;
	text-transform: uppercase;

}
